<div class="mt-4">
    <form method="POST" action="/me/blog/store" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Tiêu đề</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Tiêu đề" required>
        </div>
            
        <div class="form-group">
            <label for="status">Chia sẻ</label>
            <select class="form-control" id="status" name="status">
                <option value="public">Công khai</option>
                <option value="private">Chỉ mình tôi</option>
            </select>
        </div>
        <div class="form-group">
            <h5>
                <label for="">Câu chuyện của bạn :</label>
            </h5>
            <textarea class="form-control" id="body" name="body" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="image">Đăng kèm hình ảnh :</label>
            <input type="file" class="form-control-file" id="image" name="image">
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Đăng</button>
            <a href="/me/blog" class="btn btn-secondary">Huỷ</a>
        </div>
    </form>
</div>
    